body {
    margin: 0 auto;
    display: block;
    height: 120vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: var(--alabaster-grey);

    --ink-black: #0d1b2aff;
    --prussian-blue: #1b263bff;
    --dusk-blue: #415a77ff;
    --dusty-denim: #778da9ff;
    --alabaster-grey: #e0e1ddff;
}

header {
    height: auto;
    background-color: var(--ink-black);
    padding: 20px;
}

nav {
    position: fixed;
    width: 100%;
    padding: 20px;
    place-items: center;
    background-color: var(--prussian-blue);
    z-index: 4;
}

.nav-container {
    display: flex;
    gap: 20px;
}

.nav-container a {
    color: var(--alabaster-grey);
    text-decoration: none;
}

.nav-container a:hover {
    color: var(--dusty-denim);
}

.header-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.header-container .profile-section {
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header-container .profile-links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-container .profile-section a{
    color: var(--alabaster-grey);
    text-decoration: none;
}

.header-container .profile-section a:hover{
    color: var(--dusty-denim);
}

.header-container .profile-section .profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: solid 2px var(--alabaster-grey);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-container .description-section {
    width: 80%;
    padding: 10px;
    align-content: center;
}

.education-container .background-image {
    width: 100%;
    height: 40vh;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.section-title {
    padding: 20px;
}

.education-background {
    display: block;
    color: var(--alabaster-grey);
    z-index: 2;
}

.education-card {
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.logo img{
    width: 100%;
    height: auto;
}

.logo {
    width: 10%;
}

.education-info {
    width: 30%;
}

.skills-container {
    width: auto;
    height: 90vh;
    background-color: var(--ink-black);
}


@media (max-width: 748px) {
    .header-container {
        flex-direction: column;
    }
    .header-container .profile-section {
        width: 80%;
    }
}